@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.home {
    min-height: 100vh;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
}

.homeContent {
    max-width: 1440px;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 40px;

    @include tablet {
        justify-content: flex-end;
    }
}

.homeTitleWrapper {
    color: $secondary-color;
    font-family: $second-font;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 740px;
    width: 100%;
    padding-top: 193px;
}

.homeTitle {
    font-size: $font-xl-size;
    font-weight: 300;
    line-height: 114%;

    @include tablet {
        font-size: 68px;
    }
}

.homeSubtitle {
    font-weight: 400;

    @include tablet {
        font-size: $font-s-size;
    }
}

.firstImg {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
        display: none;
    }
}

.secondImg {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    padding-top: 60px;
    justify-content: space-around;
}

.introduction {
    font-family: $primary-font;
    font-size: $font-xs-size;
    line-height: 150%;
    font-weight: 400;
    text-transform: none;
    color: $secondary-color;
    text-align: end;
    width: 220px;

    @include desktop {
        margin: 60px 0;
    }
}
