@import "../../styles//variables.scss";

.home {
    min-height: 100vh;
    // padding: 0 40px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
}

.homeContent {
    max-width: 1440px;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.homeTitleWrapper {
    color: $secondary-color;
    font-family: $second-font;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 740px;
    width: 100%;
    padding-top: 193px;
}

.homeTitle {
    font-size: $font-xl-size;
    font-weight: 300;
    line-height: 114%;
}

.homeSubtitle {
    font-weight: 400;
}

.firstImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondImg {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    padding-top: 60px;
}

.introduction {
    font-family: $primary-font;
    font-size: $font-xs-size;
    line-height: 150%;
    font-weight: 400;
    text-transform: none;
    color: $secondary-color;
    text-align: end;
    width: 220px;
}
