@import "../../../styles/variables.scss";

.leftSection {
    position: relative;
    z-index: 9;
    align-self: center;
    color: $secondary-color;
    font-family: $primary-font;
    font-size: $font-xxs-size;
    font-weight: 500;
}

.content {
    transform: rotate(-90deg);
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}

.divider {
    flex-grow: 1;
    height: 1px;
    background-color: $secondary-color;
    margin: 0 8px;
}
