@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap");

// colors
$primary-color: #222;
$secondary-color: #fff;
$third-color: #989898;
$accent-color: #ff3c3c;

// font types
$primary-font: "Mulish", sans-serif;
$second-font: "Oswald", sans-serif;

// font sizes
$font-xxs-size: 12px;
$font-xs-size: 16px;
$font-s-size: 20px;
$font-m-size: 32px;
$font-l-size: 116px;
